<div class="container">
  <div class="m-2 text-center">
    <h5>Medi Schedule</h5>
    <p>Simple system for booking appointments in clinic</p>
    <p>Jagoda Pendolska - recruitment task</p>
  </div>
</div>
